<!DOCTYPE html>

<html lang="en" xmlns:height="http://www.w3.org/1999/xhtml" xmlns:position="http://www.w3.org/1999/xhtml"
      xmlns:left="http://www.w3.org/1999/xhtml" xmlns:top="http://www.w3.org/1999/xhtml">


<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<meta charset="UTF-8">

<title>Title
</title>

</head>


<body>


<div class="Desktop1" style="width: 1920px; height: 1080px; position: relative; background: #6E260E; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; backdrop-filter: blur(4px)">
  <img class="Image1" style="width: 626px; height: 417px; left: 39px; top: 142px; position: absolute" src="" />


<div class="Rectangle1" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: #D3B683">
</div>


<div style="width: 354px; height: 100px; left: 398px; top: 26px; position: absolute">


<div style="width: 354px; height: 100px; left: 38px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">Почетна
</div>


<div style="width: 354px; height: 100px; left: -70px; top: -12px; position: absolute; color: black; font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">Почетна
</div>

</div>


<div style="width: 354px; height: 100px; left: 752px; top: 26px; position: absolute">


<div style="width: 354px; height: 100px; left: 38px; top: 0px; position: absolute; color: black; font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">
  <a src="index.html">Почетна</a>
</div>


<div style="width: 354px; height: 100px; left: -70px; top: -12px; position: absolute; color: black; font-size: 64px; font-family: Inter; font-weight: 400; word-wrap: break-word">Категории
</div>

</div>
  <img class="Image2" style="width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute" src="https://s3-alpha-sig.figma.com/img/cd32/87d5/6975615b15bd288bffd68d089cddb198?Expires=1694390400&Signature=JESeS61b7Ki44zlyZRFxWGsgPJd0R3dr5~QngYQuJWFdacTKNcNrV6wZhww8CavBqVv-Z-ldt38x0l70pw2BDEvYjaniUMCbNnxN985a01zMpw1mx8H85-iqwrD6mwTP4GBfWlfdiezXlCa1NvUIrtCzZOh-VKjuz1B9Wgmgyu5s0SzsI2-pZTOu9WUuPd-i9ToPkPQbqcgOSGi6cjQxWOQiAud2IYvoeiwyn7ar6NyvTdjJ~2AtJ8XbZ7Duu3702ZD240zPlW6doWCv0gJDPe5GM~~4yWN4z9RGFKnnrhn7sHwwrqH8ZkuXjZY~0dPO4avUnNZAeg3uCEpK2g4fUA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />


<div class="Rectangle2" style="width: 1920px; height: 152px; left: 0px; top: 2px; position: absolute; background: #BD9168">
</div>


<div style="width: 354px; height: 100px; left: 286px; top: 28px; position: absolute; color: black; font-size: 64px; font-family: Lobster; font-weight: 400; word-wrap: break-word"><a href="{% url 'pocetna' %}">Почетна </a>
</div>
  <img class="Screenshot202305231238331" style="width: 174px; height: 154px; left: 0px; top: -10px; position: absolute" src="https://s3-alpha-sig.figma.com/img/53b5/e89f/be94a6064e5e8ec6a3a3b295aa810f7b?Expires=1694390400&Signature=CAHEkCH3PrtILAP1yfh1HKNIIukAtg4DIEBYS5kLDp~AiT-MyDMJMVUZEwH~akFLXALanwlg-d6sw7dxUsMlh2gDmN3YD29kDJxNE7~B5wYxb5fp-gvMj-ezZF~rVQyJgfCYdrRGRRh4XKqltMcanhJoMLiJZh3z~bAXWaLvNY5h0UOFw6mv34S~BEjxNHyRcuA2U3NqfsA7wdyKgOWGoMIOZEk6VmJ-d-X4nrMreowxYOJ934JAUlg9cBVPzQMvAFW5mJpr8GAzE37Y5V4eL6JndZfVy2tEiJUVyvmdnq8Sg0Nw1ep0aDBXFI-WuRLlva7JGivfscuV1TxZE-gc3w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" />


<div style="width: 354px; height: 100px; left: 1165px; top: 54px; position: absolute; color: black; font-size: 64px; font-family: Lobster; font-weight: 400; word-wrap: break-word"><a href="{% url 'najava' %}">Најава</a><br/>
</div>


<div style="width: 354px; height: 100px; left: 1519px; top: 14px; position: absolute; color: black; font-size: 64px; font-family: Lobster; font-weight: 400; word-wrap: break-word"> <a href="{% url 'za_nas' %}">За нас</a>
</div>


<div style="width: 324px; height: 77px; left: 741px; top: 40px; position: absolute; color: black; font-size: 64px; font-family: Lobster; font-weight: 400; word-wrap: break-word"><a href="{% url 'cigars' %}">Каталог </a>
</div>

<div class="container text-white text-center mt-5" style="padding-top: 9%;
    position: relative;">
        <div>
            <h1>{{naracka.ime_na_proizvoditel}}</h1>
            <img src="{{MEDIA_URL}}{{naracka.fotografija.url}}" alt="..." height="25%" width="25%">
            <p style="font-size: 25px">{{ naracka.deskripcija }}</p>
            <p style="font-size: 25px">Цена: {{ naracka.cena }}$</p>
            <p style="font-size: 25px">Залиха: {{ naracka.zaliha }}</p>

                <div style="    padding-top: 0%;
    padding-left: -13%;" >
                    <div class="col-lg-2" style="padding-top: 10%;">
                                        <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                          <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                    </span>
                                </div>
                        </div>
                    <a href="{% url 'uspesna_pokupka' %}">
                        <button class="btn btn-dark">Нарачајте</button>
                    </a>
                </div>

        </div>
    </div>

</div>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>

</html>